@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .row-center  {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .column-center{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}